<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat!</title>

</head>
<body>
    <h3>Write your chat!</h3>
    <form method ="post" action="/chats">
        <input placeholder="Who are you?" name ="from"> <br>
        <textarea name = "msg">Write Your Message Here</textarea> <br>
        <input placeholder= "Whom do you wanna send it to?" name="to">
        <button>Send!!</button>
    </form>   
</body>
</html>